<h1>{{ title }}</h1>
<div>
  <!-- <a [routerLink]="prescripcion_route">prescripcion</a> -->
  <a routerLink="prescripcion">Listado de prescripciones</a>
  <a routerLink="prescripcion/new">Nueva prescripcion</a>
  <a routerLink="">home</a>
  <!-- <a routerLink="login">login</a> -->
  <!-- <a routerLink="data">data</a> -->
</div>
<div style="border: 1px solid blue">
  <router-outlet name="menu"></router-outlet>
</div>
<div>
  <router-outlet></router-outlet>
</div>

<h2>testing directives</h2>

<div *appRandomFor="4" >directiva random for</div>

<!-- <ng-template [appRandomFor]="4">
  <div>directiva random for</div>
</ng-template> -->
<button (click)="toggle()">invertir</button>
<div *appUnless="!invertido_pintado">No debe pintarla</div>
<div *appUnless="invertido_pintado">Debe pintarla</div>
